services:
  tolgee:
    image: tolgee/tolgee
    volumes:
      - ./data:/data
    ports:
      - '25432:25432' # if you would like to access the DB
      - '8080:8080'
    env_file:
      - .env

  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadminpassword
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # API
      - "9001:9001" # Console UI