<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>M2Health</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>M2Health</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
		<key>GIDClientID</key>
		<string>388506655192-0s8g1dlqf6b7hilhpkp4etlf6i4vqclg.apps.googleusercontent.com</string>
		<key>GIDServerClientID</key>
		<string>388506655192-i25hmpe6jnsgr0lc9bal1mblkqtkbt1p.apps.googleusercontent.com</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.388506655192-0s8g1dlqf6b7hilhpkp4etlf6i4vqclg</string>
				</array>
			</dict>
		</array>

		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need your location to find homecare providers near your home.</string>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>We need Bluetooth to connect to your health monitoring devices.</string>

		<key>NSCameraUsageDescription</key>
		<string>We need camera access to scan QR codes</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We need photos access to get QR code from photo library</string>

		<key>NSMicrophoneUsageDescription</key>
		<string>This app does not use the microphone, but it is included in the libraries used by the
			app.</string>

		<key>CFBundleLocalizations</key>
		<array>
			<string>en</string>
			<string>id</string>
			<string>zh</string>
		</array>
	</dict>
</plist>